h1 {
    margin: auto;
    padding: 30px;
}

section {
    background: #212529;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

section span {
    color: #007bff;
    font-size: 20px;
    font-weight: 600;
}

section p {
    color: white;
    margin: 0;
    font-size: 18px;
    margin-top: 5px;
}